<ons-page ng-controller='profileCtrl' class='profileView'>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>
        Back
      </ons-back-button>
    </div>
    <div class="center">
      <ons-toolbar-button>
        <ons-icon icon="ion-home" style="vertical-align: -4px; font-size: 28px;"></ons-icon>
      </ons-toolbar-button>
    </div>

    <div class="right">
      <ons-toolbar-button ng-click='logout();'>
        <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class='header'>
    My House
  </div>

  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-item>
      <input type="text" ng-model='model.name' class="text-input text-input--transparent" placeholder="Name" style="width: 100%">
    </ons-list-item>

    <ons-list-item>
      <input type="text" ng-model='model.kind' class="text-input text-input--transparent" placeholder="Kind" style="width: 100%">
    </ons-list-item>

    <ons-list-item>
      <input type="text" ng-model='model.number' class="text-input text-input--transparent" placeholder="Number" style="width: 100%">
    </ons-list-item>

    <ons-list-item>
      <input type="text" ng-model='model.street' class="text-input text-input--transparent" placeholder="Street" style="width: 100%">
    </ons-list-item>

    <ons-list-item>
      <input type="text" ng-model='model.postcode' class="text-input text-input--transparent" placeholder="Postcode" style="width: 100%">
    </ons-list-item>
  </ons-list>

  <div style="padding: 10px 9px">
    <ons-button modifier="large" class="login-button" ng-click='save();'>Save</ons-button>
  </div>

</ons-page>
