<ons-page ng-controller='loginCtrl' class='loginView' ng-init='init();'>



  <img src="img/logo.png" alt="" class="logo" />

  <div class="login-form">

    <input type="email" class="text-input--underbar" placeholder="E-mail" ng-model='userName' value="">
    <input type="password" class="text-input--underbar" placeholder="Password" ng-model='password' value="">
    <br>
    <br>
    <ons-button modifier="large" class="login-button" ng-click='login();'>Log In</ons-button>

  </div>

</ons-page>
