<ons-page ng-controller='homeCtrl' class='homeView' ng-init='init();'>
  <ons-toolbar>
    <div class="center">
      <img src="img/logo2.png" class='logo2' alt="" />
    </div>

    <div class="right">
      <ons-toolbar-button ng-click='goToProfile()'>
        <ons-icon icon="ion-home" style="vertical-align: -4px; font-size: 28px;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="filter-bar">
    <div class="button-bar">
      <div class="button-bar__item">
        <input type="radio" name="segment-a" value='1' ng-model='isLiveChecked' checked>
        <button class="button-bar__button">Live</button>
      </div>

      <div class="button-bar__item">
        <input type="radio" name="segment-a" value='2' ng-model='isLiveChecked'>
        <button class="button-bar__button">All</button>
      </div>
    </div>
  </div>

  <ons-scroller>
    <ons-list>
      <ons-list-item ng-repeat='appliance in appliances | filter: getFilter() | orderBy : "name"' class="appliance list__item--tappable list__item__line-height">

        <span class="title">
        {{ appliance.name }}
      </span>

      <span class="subtitle">
      Power {{ appliance.power }}
    </span>


        <ons-icon ng-show='appliance.live' class='on' icon="ion-ios-lightbulb"></ons-icon>
        <ons-icon ng-hide='appliance.live' class='off' icon="ion-ios-lightbulb-outline"></ons-icon>

      </ons-list-item>
    </ons-list>
  </ons-scroller>

</ons-page>
