/*
  VoltaApp
    Color : #6AB42F
    Hightlight: #89E53D
    Disable: #5D9929
*/

.logo2 {
  width: 35.2px;
  height: 35.2px;
  margin: auto;
  margin-top: 4.4px;
  display: block;
}
.ons-list-item {
  border-bottom: 1px solid #ddd;
}

/* Login View */


/* do not group these rules */

.loginView *::-webkit-input-placeholder {
  color: white;
}
.loginView *:-moz-placeholder {
  color: white;
}
.loginView *::-moz-placeholder {
  color: white;
}
.loginView *:-ms-input-placeholder {
  color: white;
}
.loginView .logo {
  width: 110px;
  height: 110px;
  margin: auto;
  margin-top: 44px;
  display: block;
}
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}
.loginView input[type=email], .loginView input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
  color: #fff !important;
}
.login-button {
  width: 100%;
  margin: 0 auto;
}
.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
.loginView .page__background {
  background-color: #6AB42F !important;
}

/* Home View */

.filter-bar {
  margin: 10px 9px;
}
.filter-bar .button-bar {
  width: 100%;
}

/* Profile View */

div.header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 20px 0 0px 10px;
  margin-bottom: -4px;
}
.profileView .text-input {
  height: 44px;
  line-height: 44px;
}
.appliance {
  position: relative;
}
.appliance .title{
  position: absolute;
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #5D9929;
  left: 10px;
  top:-10px;
}

.appliance .subtitle{
  position: absolute;
  float: left;
  font-size: 12px;
  color: #5D9929;
  left: 10px;
  top:10px;
}

.appliance .on {
  font-size: 22px;
  margin-top: 10px;
  float: right;
  color: #5D9929;
}
.appliance .off {
  font-size: 22px;
  margin-top: 10px;
  float: right;
  color: #ddd;
}
